<div class="container">

    <form autocomplete="off">

        <h1>Extrato</h1>

        <div class="ui-g">
            <div class="ui-g-12">
              <label>Período início</label>
              <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"
                required name="data" [(ngModel)]="filtro.dataInicial" ></p-calendar>
            </div>

            <div class="ui-g-12">
              <label>Período início</label>
              <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"
                required name="data" [(ngModel)]="filtro.dataFinal" ></p-calendar>
            </div>

            <button pButton type="button" label="Filtrar" (click)="filtrar()"></button>
             <a routerLink="/lancamentos">Ir para Lançamentos</a>
        </div>

<div class="ui-g">
    <div class="ui-g-12">
        <p-dataTable [(value)]="lancamentos" [paginator]="true" [rows]="5" [responsive]="true" #tabela>

            <p-column field="conta.nome" header="Conta"></p-column>
            <p-column field="operacao" header="Operação"></p-column>
            <p-column field="data" header="Data"></p-column>
            <p-column field="valor" header="Valor"></p-column>
            <p-column field="conta.valor" header="Saldo Atual"></p-column>
        </p-dataTable>
        <!--  {{ lancamentos | json }} -->
    </div>

</div>
</form>
</div>
